#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-between;
  color: rgb(251, 137, 55);
}

p {
  color: rgb(250, 111, 60);
}

label {
  font-weight: bold;
}

input {
  width: 20%;
  padding: 12px;
  margin: 8px;
  box-sizing: border-box;
  background-color: rgb(255, 175, 101);
  color: black;
  border-color: rgb(255, 128, 59);
}
